# Existing entries
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Bubblewrap Android project
android/

# PWA/TWA specific
*gradle*
twa-manifest.json
manifest-checksum.txt
store_icon.png
android.keystore
app-release-bundle.aab
eslint.config.js
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk
*.keystore
*.jks

# Build outputs
build/
www/
.cache/
.tmp/
.vercel
